* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("assets/images/masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;

    border-radius: 5px;


}